body {
    background-color: black;
    color: #EEEEEE;
}

svg {
    fill: #EEEEEE;
    stroke: #EEEEEE;
}

.axis text,
.tick text {
    font-size: 8pt;
    font-family: sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #EEEEEE;
    shape-rendering: crispEdges;
}