body {
    background-color: black;
    color: #DADADA;
}

#chart {
    width: 100%;
}

svg {
    width: 100%;
    height: 400px;
    fill: #DADADA;
    stroke: #DADADA;
}

.axis text,
.tick text {
    font-size: 8pt;
    font-family: sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #DADADA;
    shape-rendering: crispEdges;
}

.buy {
    fill: #DADADA;
    stroke: #DADADA;
}

.divider {
    stroke: #444444;
}